.card {
    // background-color: #ccc;
    display: flex;
    flex-direction: column;

    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 2px 25px rgba(0,0,0,.3);
    border-radius: 5px;

    

    &__top {
        min-height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        color: #CF4037;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: 5px;

        @media screen and (max-width: $tab-port){
            padding: 2rem;
        }

        &--fanuc {
            background-color: #FFF22D;
        }

        &--abb {
            border-bottom: 1px solid rgba(0,0,0,.125);
        }

        &--plastics {
            font-size: 3.5rem;
            // width: 100%;
            text-align: center;
            background-color: #FEF64C;
            color: #F83957;
        }

        &--fronend {
            border-bottom: 1px solid rgba(0,0,0,.125);
        }
    }

    &__image {
        width: 100%;
        padding: 3rem;

        &--2 {
            @media screen and (max-width: $tab-port){
                width: 60%;
            }
        }

        &--4 {
            @media screen and (max-width: $tab-port){
                width: 60%;
            }
        }
    }

    &__body {
        // flex: 1 1 auto;
        flex-grow: 1;
        padding: 2rem;
        margin-bottom: 1.6rem;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $tab-land){
            padding: 4rem;
        }
    }

    &__title {
        margin-bottom: 1.2rem;
        font-weight: 500;
        line-height: 1.2;
        @media screen and (max-width: $tab-land){
            font-size: 3rem;
            margin-bottom: 3rem;
        }
    }

    &__text {
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        margin-bottom: 1.6rem;

        &:last-of-type {
            flex-grow: 1;
        }

        @media screen and (max-width: $tab-land){
            font-size: 2rem;
        }
        @media screen and (max-width: $tab-port){
            font-size: 2.5rem;
        }
        @media screen and (max-width: $phone){
            font-size: 3rem;
        }
    }

    &__link {
        border: 1px solid transparent;
        display: inline-block;
        color: #fff;
        background-color: #0062cc;
        border-color: #005cbf;
        cursor: pointer;
        text-decoration: none;
        font-weight: 400;
        padding: .6rem 1.2rem;
        text-transform: uppercase;
        float: right;
        align-self: flex-end;

        @media screen and (max-width: $tab-land){
            font-size: 2rem;
            
        }

        &:link,
        &:visited { 
            transition: all .2s;
        }

        &:hover,
        &:active {
            background-color: lighten(#005cbf, 5%);
            // color: 
            transform: scale(1.05);
        }
    }

    &--1 {
        grid-area: card1;
    }

    &--2 {
        grid-area: card2;
    }

    &--3 {
        grid-area: card3;
    }

    &--4 {
        grid-area: card4;
    }

}