.code-css {
    padding: 16px;
    background-color: $color-grey-2;
    
    &__selector {
        color: $color-green;
    }

    &__property {
        color: $color-blue-4;
    }

    &__value {

    }

    &__other {

    }
}