.code-css {
    padding: 16px;
    background-color: #f6f8fa;
    
    &__selector {
        color: #22863a;
    }

    &__property {
        color: #005cc5;
    }

    &__value {

    }

    &__other {

    }
}