.code-html {
    padding: 16px;
    background-color: #f6f8fa;
    // background-color: red;

    &__tag {
        color: $color-green;
    }

    &__attr {
        color: $color-blue-4;
    }
}