.features {
    padding: 50px 0 30px;
    margin-bottom: 100vh;
    // height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    grid-gap: 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px repeat(2, 1fr);

    &__header {
        display: flex;
        justify-content: center;
        // align-content: center;
        // height: 50px;
        font-size: 40px;

        &--one {
            grid-column: 1/span 2;;
        }

        &--two {
            grid-column: 3/-1;
            grid-row: 1 / span 1;
        }
    }
}