.nav {
    position: fixed;
    width: 100vw;
    height: 96px;
    z-index: 9999;
    top: 2rem;
    background-color: #fff;
    transition: height 300ms ease, box-shadow 300ms ease;

    @media screen and (max-width: $tab-land){
        
    }

    &--sticky {
        box-shadow: rgba(34,34,34,0.1) 0 5px 10px;
        height: 82px;
    }
    
    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        width: 80%;
        margin: auto;
        align-items: center;
        position: relative;
        height: 100%;
    }
    
    &__brand {
        font-family: "Darker Grotesque",sans-serif;
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.3;
    }

    &__brand-link {
        text-decoration: none;
        color: $color-grey-dark-1;

        &:link,
        &:visited {
            color: $color-grey-dark-1;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            font-size: 17px;
            letter-spacing: 1px;
            font-weight: 600;
            line-height: 1.3;
        }

        &:hover,
        &:active {
            // color: $color-primary;
            transform: scale(1.1);
            // text-decoration: underline;
        }
    }

    &__elements {
        
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 3rem;
        } 
    }

    &__link {

        &:link,
        &:visited {
            color: $color-grey-dark-1;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            font-size: 17px;
            letter-spacing: 1px;
            font-weight: 600;
            line-height: 1.3;
        }

        &:hover,
        &:active {
            color: $color-primary;
            transform: rotate(5deg) scale(1.3);
        }
    }
}