.notes {
    background-color: #fff;
    width: 120rem;
    margin: 0 auto;
    
    &__header {
        font-size: 4rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    
    &__article {
        border-radius: 3px;
        border: 1px solid #d1d5da;
        padding: 3.2rem;
    }

    &__article-header {
        font-size: 3.2rem;
        border-bottom: 1px solid #eaecef;
        margin-bottom: 1.6rem;
        padding-bottom: 1rem;
    }
}