*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //This defines what 1rem is
    font-size: 62.5%;

    @media screen and (max-width: $tab-land){
        font-size: 56.25%;
    }

    @media screen and (max-width: $tab-port){
        font-size: 50%;
    }
    @media screen and (max-width: $tab-port){
        font-size: 50%;
    }

    @media screen and (max-width: $phone){
        font-size: 43.75%;
    }

    @media screen and (min-width: $big-desk){
        font-size: 75%; 
    }
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    color: #24292e;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.notification {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 2rem;
    top: 0;
    z-index: 9999;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 1.3px;
    background-color: $color-yellow;
    color: $color-black;
}