$color-grey-light-1: #ccc;
$color-grey-dark-1: #222;

$color-grey-2: #f6f8fa;
$color-powder-pink: #f8d7da;
$color-light: #d1d5da;
$color-light-2: #eaecef;

$color-primary: #777;
$color-black: #000;
$color-white: #fff;

$color-blue: #18559E;
$color-blue-2: #0062cc;
$color-blue-3: #005cbf;
$color-blue-4: #005cc5;
$color-blue-5: #0366d6;

$color-green: #22863a;

$color-red: #FF0000;
$color-red-2: #CF4037;
$color-red: #F83957;
$color-yellow: #FFF22D;
$color-yellow-2: #FEF64C;


// Media Queries
$phone: 600px;
$tab-port: 900px;
$tab-land: 1200px;
$big-desk: 1800px;


