$color-grey-light-1: #ccc;
$color-grey-dark-1: #222;

$color-primary: #777;
$color-black: #000;

$color-blue: #18559E;



// Media Queries
$phone: 600px;
$tab-port: 900px;
$tab-land: 1200px;
$big-desk: 1800px;


